server:
  port: 8383
  servlet:
    encoding:
      charset: UTF-8
    session:
      timeout: 60m

spring:
  application:
    name: reservation-api

  data:
    redis:
      host: redis
      port: 6379
      timeout: 6000


  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DATASOURCE_HOST}:${DATASOURCE_PORT}/${DATASOURCE_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update      # ?? validate, create, none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false     # API ?? ???

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true


jwt:
  secret: ${JWT_SECRET}
  expiration-time: ${JWT_EXPIRATION}


logging:
  level:
    root: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG



